<!-- Meny i sidebar -->
<nav class="col-md-3 col-sm-12 sidebar">
    <ul class="list-group">
        <li class="list-group-item">
            <NavLink href="/" Match="NavLinkMatch.All">Start</NavLink>
        </li>
        <li class="list-group-item">
            <NavLink href="/konvertering">Konvertering</NavLink>
        </li>
        <li class="list-group-item">
            <NavLink href="/ramschema">Ramschema</NavLink>
        </li>
    </ul>
</nav>