/* Header och logotyp */
header .logo {
    padding: 1rem;
    background-color: #212529;
}

header a {
    color: white;
    text-decoration: none;
}

/* Datum i header */
header .date {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    height: 38px;
}

/* Navigering i sidomenyn */
nav ul.list-group {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    height: 100%;
}

.list-group-item {
    margin-bottom: 5px;
    padding: 0;
    border: 1px solid #ccc;
    text-align: center;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}

.list-group-item:last-child {
    margin-bottom: 0;
}

/* Aktiv länk i sidomenyn */
.active {
    background-color: #212529;
    font-weight: bold;
    border: none;
    color: white;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.sidebar {
    padding: 0 1rem 0 0;
}

/* Huvudinnehåll */
main {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem !important;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content {
    min-height: 75vh;
}

/* Styling för klocka */
.clock {
    font-weight: bold;
    text-align: center;
    color: #555;
    margin-bottom: 1rem;
}

/* Footer */
footer {
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #f9f9f9;
    text-align: center;
    width: 100%;
    margin: 2rem auto;
    box-sizing: border-box;
}

footer p {
    margin: 0;
}

#blazor-error-ui,
.loading-progress {
    display: none;
}

th {
    font-weight: 400;
}

td {
    font-size: 14px;
}

/* Styling för mindre skärmar */
@media (max-width: 768px) {
    footer {
        margin: 0 auto 1rem auto;
        width: 95% !important;
        max-width: 520px !important;
    }

    main {
        margin: 2rem auto 0 auto !important;
        min-height: 50vh;
    }

    .sidebar {
        padding: 0;
    }

    nav ul.list-group,
    .content {
        min-height: auto;
    }

    nav {
        padding: 0;
    }

    .content {
        padding: 10px;
    }

    .header {
        flex-direction: column;
    }

    .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .date {
        text-align: center;
    }
}