@page "/"

<PageTitle>Start - BlazorApp</PageTitle>

<article>
    <h2 class="mb-4">Välkommen!</h2>
    <p>
        Denna webbplats är skapad som en del av kursen Webbutveckling med .NET som ingår i Webbutvecklingsprogrammet på
        Mittuniversitetet.
    </p>

    <section>
        <h3 class="mt-4 mb-3">Om uppgiften</h3>
        <p>
            Uppgiften ingår i kursmomentet Grunderna i .NET. Målet med uppgiften är att:
        </p>
    </section>
</article>
